<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group col-md-6">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" placeholder="Name" formControlName="name" required />
          <small *ngIf="submited && form.get('name')?.errors?.required"
              class="form-text text-muted">*Required field
          </small>
      </div>

      <div class="form-group col-md-6">
          <label for="address">Description</label>
          <input type="text" id="description" class="form-control" placeholder="Description" formControlName="description" required />
          <small *ngIf="submited && form.get('description')?.errors?.required"
              class="form-text text-muted">*Required field
          </small>
      </div>

      <button class="btn btn-primary" type="submit">Save</button>
  </form>
</div>
